{% extends 'admintemp/base.html' %}
{% block content %}
  <div class="row card-group-row" style="height:400px;">
                    <div class="col-lg-6 col-md-6 card-group-row__col">
                        <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center">
                            <div class="flex">
                                <div class="card-header__title text-muted mb-2">Admin Home</div>
                                <div class="text-amount"></div>

                            </div>



                        </div>
                    </div>

                </div>
{% endblock  %}