{% extends 'teacher/base.html' %}

{% block content %}

<div class="container page__heading-container">
    <div class="page__heading d-flex align-items-center justify-content-between">
        <h1 class="m-0"> Answers</h1>
    </div>
</div>

<div class="card card-form">
    <div class="row no-gutters">

        <div class="col-lg-12 card-form__body">

            <div class="table-responsive border-bottom" data-toggle="lists"
                 data-lists-values="[&quot;js-lists-values-employee-name&quot;]">


                <table class="table mb-0 thead-border-top-0">
                    <thead>
                    <tr>
                        <th>SI no</th>
                        <th>Question</th>
                        <th>option1</th>
                        <th>option2</th>
                        <th>option3</th>
                        <th>option4</th>
                        <th>Correct Answer</th>
                        <th>Your Answer</th>

                    </tr>
                    </thead>
                    {% for i in answers %}
                    <tbody>
                    {% for qstn in i.questions.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{qstn.question.question}}</td>
                        <td>{{qstn.question.option1}}</td>
                        <td>{{qstn.question.option2}}</td>
                        <td>{{qstn.question.option3}}</td>
                        <td>{{qstn.question.option4}}</td>
                        <td>{{qstn.question.answer}}</td>
                        <td>{{qstn.answer}}</td>

                    </tr>
                    {% endfor %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock  %}